.nigov-filter {
  display: block;
  padding-top: 15px;
  margin-bottom: 20px;
  border-top: 1px solid #111111;
  border-bottom: 1px solid #111111;
}

.nigov-filter ul.nigov-filter--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: 15px;
}

.nigov-filter ul.nigov-filter--list li {
  padding: 7px 9px;
  border: 1px solid #b1b4b6;
  background-color: #ffffff;
  margin: 0 5px 10px 5px;
}